ACTION!="add|change", GOTO="netx_rules_end"

#-----------------------------------------------------------------------------
#
# USB rules
# file version v2
SUBSYSTEM!="usb", GOTO="netx_usb_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="netx_usb_rules_end"


# netX50
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0002", MODE="666", GROUP="plugdev"

# netX10
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="000c", MODE="666", GROUP="plugdev"

# netX100/500
## HBoot2 Soft (netX100/500 affter installing bootloader till next powercycle)
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0015", MODE="666", GROUP="plugdev"
## netX100/500 ABoot V1.0 (netX100/500 on power up)
ATTRS{idVendor}=="0cc4", ATTRS{idProduct}=="0815", MODE="666", GROUP="plugdev"

# netX51
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0018", MODE="666", GROUP="plugdev"

# netX52
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0019", MODE="666", GROUP="plugdev"
 
# netX4000 Relaxed
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0020", MODE="666", GROUP="plugdev"
 
# netX4000 Full
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="002a", MODE="666", GROUP="plugdev"
 
# netX4100 Small
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="002b", MODE="666", GROUP="plugdev"
 
LABEL="netx_usb_rules_end"


#-----------------------------------------------------------------------------
#
# UIO rules
#
SUBSYSTEM!="uio", GOTO="netx_uio_rules_end"

# Hilscher PCI card.
ATTR{name}=="netx", MODE="666", GROUP="plugdev"

# Hilscher PLX
ATTR{name}=="netx_plx", MODE="666", GROUP="plugdev"
ATTR{name}=="netx4000", MODE="666", GROUP="plugdev"

LABEL="netx_uio_rules_end"


#-----------------------------------------------------------------------------
#
# TTY rules
#
# todo: missing explanation of necessary

SUBSYSTEM!="tty", GOTO="netx_tty_rules_end"

# netX51
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0018", MODE="666", SYMLINK+="tty_netX51_%n"


LABEL="netx_tty_rules_end"

#-----------------------------------------------------------------------------

LABEL="netx_rules_end"




# changelog for this file
# v2 split files into netx and misc
#       added rules for netX90 and netrapid

# generated Mon Mar 13 13:26:29 EDT 2023 by tag 0.0.5
