/* ~/.config/rofi/config.rasi */

configuration {
    modi: "drun,run,window,ssh";
    show-icons: true;
    drun-display-format: "{name}";
    font: "JetBrainsMono Nerd Font 12";
}

@theme "catppuccin-mocha"
